<wa-tree-item class="dir" hx-get="{{{hx_href}}}" hx-trigger="wa-lazy-load" hx-target="this" hx-swap="beforeend" hx-select=".svn-index > wa-tree-item"><span hx-get="{{{hx_href}}}" hx-target="#svn-index" hx-swap="innerHTML" hx-select=".svn-index > wa-tree-item" hx-trigger="click"><wa-icon name="folder"></wa-icon> {{{name}}}/</span></wa-tree-item>
