<wa-tree-item class="dir{{#navhidden}} navhidden{{/navhidden}}"{{#is_target_leaf}} selected{{/is_target_leaf}} hx-get="{{{hx_href}}}" hx-trigger="{{#is_target_any}}load{{/is_target_any}}{{^is_target_any}}wa-lazy-load{{/is_target_any}}" hx-target="this" hx-swap="beforeend" hx-select=".svn-index > wa-tree-item" hx-on:wa-selection-change="htmx.trigger('#svn-index', 'svn-navigate', {href: '{{{hx_href}}}'})"><span hx-on:click="if (this.parentElement.selected) htmx.trigger('#svn-index', 'svn-navigate', {href: '{{{hx_href}}}'})"><wa-icon name="folder" variant="regular"></wa-icon> {{{name}}}/</span></wa-tree-item>
