<wa-tree-item class="dir{{#navhidden}} navhidden{{/navhidden}}"{{#is_target_leaf}} selected{{/is_target_leaf}} hx-get="{{{hx_href}}}" hx-trigger="{{#is_target_any}}load{{/is_target_any}}{{^is_target_any}}wa-lazy-load{{/is_target_any}}" hx-target="this" hx-swap="beforeend" hx-select=".svn-index > wa-tree-item"><span hx-get="{{{hx_href}}}" hx-target="#svn-index" hx-swap="innerHTML" hx-select=".svn-index > wa-tree-item" hx-select-oob="#svn-breadcrumb,#svn-footer,#svn-header-left" hx-trigger="wa-selection-change[event.detail.selection.includes(this.parentElement)] from:wa-tree throttle:150ms, click[this.parentElement.selected]"><wa-icon name="folder" variant="regular"></wa-icon> {{{name}}}/</span></wa-tree-item>
