<div class="svn-log-more wa-cluster wa-gap-xs wa-justify-content-center" hx-action="{{{more_href}}}" hx-method="REPORT" hx-select=".svn-log > *" hx-target="this" hx-swap="outerHTML" hx-trigger="intersect once root:#svn-history-content">
<span class="htmx-indicator wa-cluster wa-gap-xs wa-color-text-quiet wa-font-size-s">
<wa-spinner style="font-size: 1rem;"></wa-spinner> Loading more…
</span>
</div>
