<tr class="log-item">
<td class="revision">{{{revision}}}</td>
<td class="author">{{{author}}}</td>
<td class="date">{{{date}}}</td>
<td class="message"><pre>{{{message}}}</pre></td>
<td class="changed-paths"><ul>
{{#changed_paths}}<li class="action-{{action_class}}"><span class="action">{{action}}</span> {{{path}}}</li>
{{/changed_paths}}</ul></td>
</tr>
