<div class="svn-log">
<p class="svn-log-back"><a href="{{{listing_href}}}"><wa-icon name="list"></wa-icon> Back to listing</a></p>
<table class="svn-log-table">
<thead>
<tr><th>Revision</th><th>Author</th><th>Date</th><th>Message</th><th>Changed paths</th></tr>
</thead>
<tbody>
{{{svn_log}}}</tbody>
</table>
</div>
