<div class="svn-log">
<table class="svn-log-table">
<thead>
<tr><th>Revision</th><th>Author</th><th>Date</th><th>Message</th><th>Changed paths</th></tr>
</thead>
<tbody>
{{{svn_log}}}</tbody>
</table>
</div>
