<header slot="header" class="wa-split wa-gap-s wa-font-size-m">
<div class="wa-cluster" id="svn-header-left">
<wa-icon data-toggle-nav name="bars" label="Menu" style="padding: var(--wa-space-s);"></wa-icon>
<a href="{{{repo_parent_path}}}"><wa-icon name="house" label="Start"></wa-icon><span>Start</span></a>
{{#has_base}}<a href="../{{{revision_suffix_up}}}"><wa-icon name="turn-up" label="Up"></wa-icon><span>Up</span></a>{{/has_base}}
{{#has_base}}<a href="{{{request_href}}}{{{history_query_suffix}}}" hx-action="{{{request_href}}}{{{history_query_suffix}}}" hx-method="REPORT" hx-target="#svn-history-content" hx-swap="innerHTML" hx-trigger="click"><wa-icon name="clock-rotate-left" label="History"></wa-icon><span>History</span></a>{{/has_base}}
</div>
<div class="wa-cluster" id="svn-header-right">
</div>
</header>