<footer slot="footer" id="svn-footer" class="wa-font-size-xs">
<span>{{#has_base}}Repository: {{base}} &middot; Path: {{/has_base}}{{path}} {{#has_base}}&middot; Revision: {{rev}}{{/has_base}}</span>
<em>Powered by <a href="{{svn_href}}">Apache Subversion</a> version {{svn_version}}.</em>
</footer>