<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#has_base}}{{base}} - Revision {{rev}}: {{/has_base}}{{path}}</title>
<style>
body {
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: system-ui, sans-serif;
}

ul {
    padding-left: 1.5rem;
    line-height: 1.5;
}

.dir > a,
.repo > a {
    font-weight: 600;
}

footer {
    margin-top: 2rem;
    color: #666;
    font-size: 0.9rem;
}
</style>
{{{page-head-end}}}
</head>
<body>
<h1>{{#has_base}}{{base}} - Revision {{rev}}: {{/has_base}}{{path}}</h1>
<ul class="svn-index">
{{{svn_index}}}</ul>
<footer>
<hr noshade><em>Powered by <a href="{{svn_href}}">Apache Subversion</a> version {{svn_version}}.</em>
</footer>
</body>
</html>
